<li class="nav-item active">
                <%= link_to 'Home', root_path %>
              </li>
              <li class="nav-item">
                <%= link_to 'Articles', articles_path %>
              </li>
              <li class="nav-item">
                <%= link_to 'About', about_path %>
              </li>